data/csv/*
data/tar/*
data/sample/*
data/hourly/*
data/hourly_merged/*
data/catalog/*
data/plot/*
*.pyc
data/wp/*
*.tar.gz
._*
__pycache__
*.pickle
.env
*.ds.pt
*.pt
flight_schedules/processed_data/*
flight_schedules/raw_downloads/*
flight_schedules/routes/*